<!DOCTYPE HTML>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./bower_components/bootswatch-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="./assets/css/style.css" />
</head>
<body>
    <div style="height:100%">
        <ul class="nav nav-pills" id="navTabs">
            <li><a id="addTab">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            </a></li>
        </ul>
        <div class="tab-content">
        </div>
    </div>
</body>
</html>
<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

<script src="./bower_components/jquery/dist/jquery.js"></script>
<script src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="./assets/js/Client.js"></script>
<script src="./assets/js/Server.js"></script>
<script src="./assets/js/Convert.js"></script>
<script>if (window.module) module = window.module;</script>

<script>
$(document).ready(function() {
    const client = new Client();
    client.start();
    window.client = client;
});
</script>
