html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.row,
.tabs-left,
#left-menu{
    height: 100%;
}

#left-menu{
    background-image:
    linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%),
    linear-gradient(to bottom, rgb(236, 236, 236) 0%, rgb(236, 236, 236) 100%);
    background-clip: content-box, padding-box;
    padding-left: 0px;
}

.shortcut-remove{
    cursor:pointer;
}

#right-menu{
    padding-left: 0px;
    padding-right: 0px;
}

.tabs-left>li>a {
    border-radius: 0px;
}
.nav-pills > li + li {
    margin-left: 0px;
}

.tabs-left {
    padding-top: 0px;
}

.container {
    padding-top: 10px;
}
